/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 45px;
  text-align: center;
  background: #EA3008;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #EA3008;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 15px;
  text-align: left;
}

.column {
  float:left;
  width: 50%;
  padding: 10px;
  justify-content: center;
  background-color: #333;
}

/* Row container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  border-style: solid; 
  border-color: #333; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
    }

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%; 
  background-color: #333;
  border-style: solid; 
  border-color: #333; 
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #333;
  border-style: solid; 
  border-color: #333; 
}

/* Container */ 
.container { 
  background: white;
  border-style: solid; 
  border-color: #333; 
  padding: 10px; 
  margin: 20px;   
  margin-bottom: 20px;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #EA3008;
  border-radius: 5px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #EA3008;
  color: white;
}

.image-preview {
  width: 600px; 
  min-height: 200px;
  border: 2px solid #333;
  margin-top: 20px;
  margin-bottom: 20px;

  /* Default Text*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold; 
  color: #333;
}

.image-preview__image{
  display: none;
  width: 100%;
}
/*
 * FilePond Custom Styles
 */
.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  background-color: #edf0f4;
}


.filepond--root {
  width:170px;
  margin: 0 auto;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: row;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}